.row {
    /* Acá va 1 propiedad */
    display: flex;
}

.col {
    /* Acá van 4 propiedades */
    flex: 1 0 0;
    margin: 1vh;
    padding: 1vh;
    background-color: #add8e6;
}

.col-1 {
    /* Acá va 1 propiedad */
    flex: 1;
}

.col-2 {
    /* Acá va 1 propiedad */
    flex: 2;
}

.col-3 {
    /* Acá va 1 propiedad */
    flex: 3;
}