#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.titulo{
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ffffff;
}

.contenedorSecciones{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
}